* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}
button {
  cursor: pointer;
  border: none;
}
body {
  font-family: "Heebo", sans-serif;
}
#header {
  padding: 30px;
}
.header a {
  font-size: 20px;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: end;
  gap: 30px;
}
#hero {
  padding: 60px;
}
.hero-text h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
}
.hero-text p {
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}
.hero-text button {
  font-size: 20px;
  font-weight: 500;
  color: white;
  width: 208px;
  height: 47px;
  top: 477px;
  left: 148px;
  border-radius: 2px;
  background: #ff6464;
  transition: 0.7s;
}
.hero-text button:hover {
  transform: scale(1.1);
  background: white;
  color: red;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.hero-text p {
  margin: 30px 0 30px;
}
.posts-title h1 {
  font-size: 22px;
  font-weight: 400;
}
.posts-title h4 {
  font-size: 16px;
  font-weight: 400;
  color: #00a8cc;
}
.posts-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin: ;
}
.posts-block h1 {
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
}
.posts-block h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0 30px;
}
.posts-block p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.posts-block {
  width: 418px;
  height: 295px;
  top: 664px;
  left: 148px;
  border-radius: 4px;
  background: white;
  padding: 30px 30px;
}
#posts {
  padding: 60px;
  background: #edf7fa;
}
.posts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#work {
  padding: 60px;
}
.line {
  width: 858px;
  top: 1283px;
  left: 146px;
  border: 1px;
  border: 1px solid #e0e0e0;
  margin: 20px 0 20px;
}
.work-title h1 {
  font-size: 22px;
  font-weight: 400;
}
.block-text h1 {
  font-size: 30px;
  font-weight: 700;
}
.block-text h3 span {
  font-size: 18px;
  font-weight: 900;
  width: 62px;
  border-radius: 20px;
  background: #142850;
  color: white;
  padding: 2px 10px;
}
.block-text h3 {
  font-size: 20px;
  font-weight: 400;
  color: #8695a4;
  margin: 30px 0 30px;
}
.block-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.work-block {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}
.footer-nav img {
  width: 70px;
  height: 35px;
  color: #21243d;
  margin-bottom: 20px;
}
#footer {
  padding: 60px;
}
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text {
  display: flex;
  justify-content: center;
}
.footer-text h4 {
  font-size: 14px;
  font-weight: 400;
}
#blog {
  padding: 60px;
}
.header-nav a {
  color: #ff6464;
}
.blog h1 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 60px;
}
.blog-text h2 {
  font-size: 30px;
  font-weight: 500;
}
.blog-text h3 span {
  font-size: 20px;
  font-weight: 400;
  color: #8695a4;
}
.blog-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.blog-text h3 {
  margin: 20px 0 20px;
}
@media (max-width: 992px) {
  .posts-block h4 {
    margin: 10px 0 10px;
  }
  .posts-block {
    padding: 40px 5px;
  }
  .block-text h3 {
    margin: 5px 0 5px;
  }
}
@media (max-width: 768px) {
  .line {
    width: 580px;
  }
  .hero-text h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .hero-text p {
    margin: 10px 0 10px;
  }

  .hero-text p {
    line-height: 19px;
    font-size: 15px;
  }
  .hero-text button {
    font-size: 15px;
    width: 180px;
    height: 40px;
  }
  .posts-block h1 {
    font-size: 26px;
    line-height: 30px;
  }
  .posts-block p {
    line-height: 22px;
  }
  .posts-block {
    padding: 20px 5px;
  }
  .block-text p {
    font-size: 13px;
    line-height: 17px;
  }
  .block-text h1 {
    font-size: 27px;
  }
}
@media (max-width: 320px) {
  .hero {
    flex-direction: column-reverse;
    gap: 35px;
    text-align: center;
  }
  .posts {
    flex-wrap: wrap;
    gap: 20px;
  }
  .posts-block h1 {
    font-size: 15px;
    line-height: 15px;
  }
  .posts-block h4 {
    font-size: 10px;
  }
  .posts-block p {
    line-height: 11px;
    font-size: 11px;
  }
  .posts-block {
    width: 147px;
    height: 150px;
  }
  .work-block {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .work-block img {
    width: 112%;
  }
  .line {
    width: 170px;
  }

  .posts-title h1 {
    font-size: 15px;
  }
  .block-text h1 {
    font-size: 23px;
  }
  .block-text h3 {
    font-size: 17px;
  }
  .block-text h3 span {
    font-size: 13px;
  }
  .block-text p {
    font-size: 11px;
    line-height: 15px;
  }
  .footer-nav img {
    width: 12%;
  }
  .footer-nav {
    gap: 7px;
  }
  .footer-text h4 {
    font-size: 10px;
  }
  #footer {
    padding: 50px;
  }
  .blog-text h2 {
    font-size: 13px;
  }
  .blog h1 {
    font-size: 31px;
  }
  .blog-text h3 {
    margin: 12px 0 12px;
  }
  .blog-text h3 {
    font-size: 14px;
  }
  .blog-text h3 span {
    font-size: 15px;
  }
  .blog-text p {
    font-size: 11px;
    line-height: 17px;
  }
}
